<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header bg-primary text-white">Teachers</h5>
      <div class="card-body">
        <table class="table table-striped">
          <thead class="bg-success text-black">
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Qualification</th>
              <th>Mobile</th>
            </tr>
          </thead>
          <tbody class="table-primary">
            <tr *ngFor="let teacher of teachers">
              <td>{{teacher.FName}} {{teacher.LName}}</td>
              <td>{{teacher.Gender.Name}}</td>
              <td>{{teacher.HighestQualification}}</td>
              <td>{{teacher.Mobile}}</td>
            </tr>
            <tr *ngIf="teachers.length === 0">
              <td colspan="5">No Records Found</td>
            </tr>
          </tbody>
        </table>
        <button (click)="goToTeacherPortal()" class="float-right btn btn-warning">Go To Teacher Portal</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-header bg-primary text-white">Students</h5>
      <div class="card-body">
        <table class="table table-striped">
          <thead class="bg-success text-black">
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Class</th>
              <th>Mobile</th>
            </tr>
          </thead>
          <tbody class="table-primary">
            <tr *ngFor="let student of students">
              <td>{{student.FirstName}} {{student.MiddleName}} {{student.LastName}}</td>
              <td>{{student.Gender.Name}}</td>
              <td>{{student.Class.Name}}</td>
              <td>{{student.Mobile}}</td>
            </tr>
            <tr *ngIf="students.length === 0">
              <td colspan="5">No Records Found</td>
            </tr>
          </tbody>
        </table>
        <button (click)="goToStudentPortal()" class="float-right btn btn-warning">Go To Student Portal</button>
      </div>
    </div>
  </div>
</div>