<form [formGroup]="classForm">
  <div class="card text-primary border border border-info">
    <div class="card-header border border-info">
        <h5>Add Class</h5>
    </div>
    <div class="card-body border border-info">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Class Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" formControlName="name" class="form-control" [(ngModel)]="class.Name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Class Name is required</div>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-primary" (click)="addClass()">Add</button>
              </td>
            </tr>
            <tr *ngFor="let class of classes; let i = index">
              <td>
                {{class.Name}}
              </td>
              <td>
                <button type="button" class="btn btn-warning fa fa-edit" (click)="editClass(i)"></button>
                &nbsp;
                <button type="button" class="btn btn-danger fa fa-trash" (click)="deleteClass(i)"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer border border-info" *ngIf="enblSaveClassBtn">
      <button type="button" class="btn btn-primary float-right" (click)="saveClasses()"><span
          class="fa fa-save"></span> Save Classes</button>
    </div>
  </div>
</form>